baseURL = 'https://docs.emtronaustralia.com.au/'
languageCode = 'en-us'
title = 'Emtron Resource Centre'
theme = 'hugo-theme-relearn'
disablePathToLower = false
pluralizeListTitles = false

[params]
  menu_style = "slide-menu"
  editURL = "https://github.com/emtron-australia/help/tree/master/content/${FilePath}"
  disableRootBreadcrumb = true
  disableInlineCopyToClipBoard = true

[markup.renderer]
  unsafe = true

[markup.goldmark.renderer]
  unsafe = true

[markup.goldmark.parser.attribute]
  block = true

[[params.themeVariant]]
  identifier = 'emtron'

[caches]
[caches.images]
  dir = ':cacheDir/images'

# This is so that the image path works when previewing markdown and in the final build
[[module.mounts]]
  source = 'static'
  target = 'static'

[[module.mounts]]
  source = 'img'
  target = 'static/img'

[outputs]
  home = [
    'html',
  ]
  page = [
    'html',
    'rss',
    'print',
  ]
  section = [
    'html',
  ]
